:root {
  --bg-color: #4d6473;
  --primary-clr: #2c4757;
  --second-clr: #f3bd68;
  --font-clr: #ffffff;
}

section#modal img {
  width: 25rem;
  height: auto;
  border-radius: 2rem;
}

section#modal {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  padding: 2rem;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  gap: 1.5rem;
  background: var(--bg-color);
  /* display: none; */

  transition: opacity 0.5s;
}

section#modal.closed {
  transition: all 0.8s ease;
  visibility: hidden;
  opacity: 0;
}

section#modal.open {
  visibility: visible;
  opacity: 1;
}

section#sideImg {
  text-align: center;
  margin-inline: auto;
}

section#modal section#sideDescFilm {
  display: grid;
  gap: 5rem;
  font-weight: bold;
}

button.addToList {
  background: var(--second-clr);
  padding: 1.5rem;
  border: none;
  border-radius: 0.9rem;
  cursor: pointer;
}
