* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color Theme Swatches in HSLA */

:root {
  --bg-color: #020f1f;
  --primary-clr: #050709;
  --second-clr: #f3bd68;
  --check-clr: #c4e70c82;
  --font-clr: #ffffff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.4%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 1.6rem;
  background: var(--bg-color);
  color: var(--font-clr);
  height: 100dvh;
}

body button {
  cursor: pointer;
}

lord-icon {
  width: 2.5rem;
  height: 2.5rem;
}

header {
  padding-block: 2.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--primary-clr);
  color: var(--font-clr);
}

header h4 {
  font-size: 2.5rem;
}

header lord-icon#logo {
  width: 5rem;
  height: 5rem;
}

div.logoFavs {
  font-family: "Chillax", sans-serif;

  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
main {
  padding-inline: 2rem;
  padding-bottom: 2rem;
}

input {
  padding: 1.2rem;
  height: 3rem;
  font-size: 2rem;
}

section#yourFilmFavs {
  position: relative;
}

div.swiper-wrapper {
  z-index: 0;
}

div.swiper-horizontal > div.swiper-pagination-bullets,
div.swiper-pagination-bullets div.swiper-pagination-horizontal,
div.swiper-pagination-custom,
div.swiper-pagination-fraction {
  top: 55rem;
}

span.swiper-pagination-bullet-active {
  background: var(--second-clr);
}

div.searchs {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 1.2rem;
}

div.searchForYear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

div.inputYear,
div.inputName {
  display: grid;
  gap: 0.7rem;
}
div.searchForName input {
  margin-bottom: 0;
  border-radius: 0.8rem;
  border: none;
}

div.searchForYear input {
  width: 9rem;
  border-radius: 0.8rem;
  border: none;
}

div.searchs button.search {
  padding: 1.2rem;
  border-radius: 0.8rem;
  border: none;
  background: var(--second-clr);
  transition: background 0.3s ease;
}

div.whenHaveNotFilm {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
  opacity: 0.3;
}

div.whenHaveNotFilm img {
  width: 10rem;
}

lord-icon.lupe {
  width: 4rem;
  margin: 5rem;
}

div.searchs button.search.check {
  background: var(--check-clr);
}

h1 {
  text-align: center;
  font-size: 1.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;

  padding-block: 1.2rem;
}

div.imgFilmFav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

div.imgFilmFav img {
  border-radius: 0.8rem;
  width: 25rem;
  height: 37rem;
}

div.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

div.poster button.rmvFilm {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--second-clr);
  font-weight: bold;
  color: #ffffff;
}

section div.swiper {
  position: initial;
}

@media (min-width: 1000px) {
  header {
    flex-flow: row;
    justify-content: space-evenly;
  }

  div.searchs {
    flex-flow: row;
  }
  div.searchForName {
    display: flex;
    align-items: center;
  }

  div.searchForName input {
    margin-bottom: 0;
    border-radius: 0.8rem;
    border: none;
  }
}
