* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color Theme Swatches in HSLA */

:root {
  --bg-color: #e9e9e9;
  --primary-clr: #0046ff;
  --second-clr: #ff8040;
  --error-clr: #db1414;
  --check-clr: #b3e70c;
  --complementary: #001bb7;
}

html {
  scroll-behavior: smooth;
  font-size: 62.4%;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 1.6rem;
  background: var(--bg-color);
}

body button {
  cursor: pointer;
}
/* font-family: 'Cabinet Grotesk', sans-serif;
font-family: 'Chillax', sans-serif; */

lord-icon {
  width: 2.5rem;
  height: 2.5rem;
}

header {
  padding-block: 2.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--primary-clr);
  color: #ffffff;
}

header h4 {
  font-size: 2.5rem;
}

header lord-icon#logo {
  width: 5rem;
  height: 5rem;
}

div.logoFavs {
  font-family: "Chillax", sans-serif;

  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
main {
  padding-inline: 2rem;
  padding-bottom: 2rem;
}

input {
  padding: 1.2rem;
  height: 3rem;
  font-size: 2rem;
}

div.searcs {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  gap: 1.2rem;
}

div.searchForName input {
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  border: none;
}

div.searchForYear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

div.inputYear,
div.inputName {
  display: grid;
  gap: 0.7rem;
}

div.searchForYear input {
  width: 9rem;
  border-radius: 0.8rem;
  border: none;
}

div.searcs button.search {
  padding: 1.2rem;
  border-radius: 0.8rem;
  border: none;
  background: var(--second-clr);
  transition: background 0.3s ease;
}

lord-icon.lupe {
  width: 4rem;
  margin: 5rem;
}

div.searcs button.search.error {
  background: var(--error-clr);
}

div.searcs button.search.check {
  background: var(--check-clr);
}

article.wrapperFilms {
  display: flex;
  gap: 3rem;
  padding-top: 3rem;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  text-wrap: balance;
  padding-block: 1.2rem;
}

article.imgFilmFav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

article.imgFilmFav img {
  border-radius: 0.8rem;
  width: 25rem;
}

div.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

div.poster button.rmvFilm {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--second-clr);
  font-weight: bold;
  color: #ffffff;
}

/* button.rmv-film {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 0.8rem;
  border: none;
} */
